<footer id="footer" class="footer">
    <div class="copyright">
        <span>© <%= config.author %> <a href="http://www.beian.miit.gov.cn/" target="_blank">鄂ICP备19027332号-1</a> </span>
    </div>
</footer>
